/* BOX STYLES */
.wp-100 {
    width: 100% !important;
}
.hp-100 {
    height: 100% !important;
}

$sizes: 0, 1, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 104, 280;

/* WIDTH, HEIGHT, BORDER RADIUS */
@each $size in $sizes {
    .vw-#{$size} {
        width: #{$size}vw !important;
    }
    .vh-#{$size} {
        height: #{$size}vh !important;
    }
    .w-#{$size} {
        width: #{$size}px !important;
    }
    .h-#{$size} {
        height: #{$size}px !important;
    }
    .border-#{$size} {
        border-radius: #{$size}px !important;
    }
    .border-ly-#{$size} {
        border-top-left-radius: #{$size}px !important;
        border-bottom-left-radius: #{$size}px !important;
    }
    .border-ry-#{$size} {
        border-top-right-radius: #{$size}px !important;
        border-bottom-right-radius: #{$size}px !important;
    }
}

/* BOX DISPLAY */
.d-block {
    display: block !important;
}
.d-flex {
    display: flex !important;
}
.d-grid {
    display: grid !important;
}


/* FLEX-BOX STYLES */
.flex-col {
    flex-direction: column !important;
}
.flex-row {
    flex-direction: row !important;
}
.justify-content-center {
    justify-content: center !important;
}
.justify-content-start {
    justify-content: flex-start !important;
}
.justify-content-end {
    justify-content: flex-end !important;
}
.justify-content-around {
    justify-content: space-around !important;
}
.justify-content-between {
    justify-content: space-between !important;
}
.justify-content-evenly {
    justify-content: space-evenly !important;
}

.align-items-start {
    align-items: flex-start !important;
}
.align-items-end {
    align-items: flex-end !important;
}
.align-items-center {
    align-items: center !important;
}
.align-content-center {
    align-content: center !important;
}
.align-content-start {
    align-content: flex-start !important;
}
.align-content-end {
    align-content: flex-end !important;
}
.align-content-around {
    align-content: space-around !important;
}
.align-content-between {
    align-content: space-between !important;
}


.hover-bounce {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    &::after {
        content: "";
        border-radius: inherit;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        opacity: 0;
        -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    
    &:hover {
        -webkit-transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
    }
  
    &:hover::after {
      opacity: 1;
    }  
}
.hover-bounce.scale-md:hover {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}
.hover-bounce.scale-lg:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}