@import '../../styles.scss';

/* BUTTONS */
button.mat-primary.mat-raised-button *, button.mat-accent.mat-raised-button *, button.mat-warn.mat-raised-button *, 
button.mat-primary.mat-fab *, button.mat-accent.mat-fab *, button.mat-warn.mat-fab *, 
button.mat-primary.mat-mini-fab *, button.mat-accent.mat-mini-fab *, button.mat-warn.mat-mini-fab *, 
button.mat-primary.mat-flat-button *, button.mat-accent.mat-flat-button *, button.mat-warn.mat-flat-button * {
    color: $vr-base-bg !important;
}
.mat-button-disabled * {
    color: $vr-dark-txt !important;
}
.mat-stroked-button {
    border: 1px solid $vr-dark-txt !important;
}
.mat-stroked-button.mat-primary {
    border: 1px solid $primary-text !important;
}
.mat-stroked-button.mat-accent {
    border: 1px solid $accent-text !important;
}
.mat-stroked-button.mat-warn {
    border: 1px solid $warn-text !important;
}
.mat-button.mat-primary.alt-btn {
    background-color: $primary-bg !important;
}
.mat-button.mat-accent.alt-btn {
    background-color: $accent-bg !important;
}
.mat-button.mat-warn.alt-btn {
    background-color: $warn-bg !important;
}

/* INPUT */
mat-form-field.vr-input {
    max-height: 60px !important;

    .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;

        .mat-form-field-flex {
            height: 60px !important;
            padding: 20px 14px !important;
            display: flex !important;
            justify-content: flex-start !important;
            align-items: center !important;
            overflow: hidden !important;

            .mat-form-field-outline > * {
                background: $vr-base-form-bg !important;
            }
        }
    }
}
mat-form-field.vr-input.prefix .mat-form-field-flex {
        padding: 20px 14px 20px 0px !important;

        .mat-form-field-prefix {
            width: 48px !important;
            height: 58px !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }