mat-card {
    width: 650px;
    min-height: 500px;
    background: url(../../assets/images/bg-1.png) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;

    form {
        width: 80% !important;
        margin: 0px auto !important;
    }
}