<div class="darkMode">
  <div class="mat-subheading-1 mx-16 mt-8 mb-4 txt-grey">Notifications</div>
    <mat-nav-list>
        <a mat-list-item (click)="navigateTo('menu/233')">
          <span>
            <span mat-line>Your order is Ready</span>
            <span mat-line class="txt-grey">Order is about to dispatch</span>
          </span>
        </a>
      
        <a mat-list-item (click)="navigateTo('menu/233')">
          <span>
            <span mat-line>New South Indian special</span>
            <span mat-line class="txt-grey">Special jigirthanda from Madurai, Tamil nadu</span>
          </span>
        </a>
        
        <a mat-list-item (click)="navigateTo('menu/233')">
          <span>
            <span mat-line>Special Food day Offers</span>
            <span mat-line class="txt-grey">Get 40% Off on Non-vegs.</span>
          </span>
        </a>
    </mat-nav-list>
      
</div>