<div class="main-content">
    <carousel
        class="banner-carousel mb-40"
        [height]="carouselConfig.height"
        [cellWidth]="'100%'"
        [pauseOnHover]="carouselConfig.pauseOnHover"
        [arrows]="carouselConfig.arrows"
        [arrowsTheme]="'dark'"
        [autoplay]="carouselConfig.autoplay"
        [dots]="carouselConfig.dots"
        [loop]="carouselConfig.loop"
        [cellsToShow]="carouselConfig.cellsToShow"
    >
    <div *ngFor="let img of carouselConfig.images" class="carousel-cell">
      <div class="top-left">
        <div class="display-1">Promotion Name</div>
        <div class="mat-title txt-lighter mb-0">Label and Price here</div>
      </div>
      <div class="bottom-right">
        <div class="mat-subheading-1 mb-8">
            Featuring mouthwatering combinations with a choice of five different salads, six enticing appetizers,
            six main entrees and five choicest desserts. Free flowing bubbly and soft drinks.
            All for just $19.99 per person
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary">
            <mat-icon class="material-icons-outlined mr-6">storefront</mat-icon>
            <span>ORDER NOW</span>
          </button>
        </div>
      </div>
        <img [src]="img.path">
    </div>
    </carousel>

    <div class="p-16">
      <vr-carousel-list [dishes]="dishes" [dishType]="'edit'"></vr-carousel-list>
      <vr-carousel-list [dishes]="dishes" [dishType]="'view'"></vr-carousel-list>
    </div>

</div>
