<div class="mat-headline-1 txt-grey mb-8">All Reviews: </div>

<mat-grid-list cols="3" rowHeight="200px" class="mb-24">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
        <img [src]="tile.image" alt="comment-img">
    </mat-grid-tile>
</mat-grid-list>

<div class="comment-container">
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
    <div class="comment d-flex flex-col">
        <div class="d-flex flex-row justify-content-between mb-12">
            <div class="d-flex flex-row align-items-center">
                <div class="w-60 h-60 d-flex justify-content-center align-items-end bg-green border-50 mr-12">
                    <span class="mat-headline">EJ</span>
                </div>
                <span>
                    <div class="mat-subheading-1 mb-4">Eren Jeager</div>
                    <div class="mat-subheading-2 txt-grey mb-0">11 days ago</div>
                </span>
            </div>
            <button mat-button color="primary" class="px-16 py-8 border-16">
                <span>4.5</span>
                <mat-icon class="ml-8">star</mat-icon>
            </button>
        </div>
        <div class="mat-headline-2 txt-lighter mx-40 mb-24">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
    </div>
</div>