.banner-img {
    width: 100%;
    height: 505px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.comment {
    mat-form-field {
        width: 550px;
        
        textarea {
            height: 100px;
            max-height: 120px;
        }
    }
    .rate-us {
        width: 20%;
    }
}