<div
  class="container"
  fxLayout="row wrap"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>loading...</h4>
  </div>
  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{ errMess }}</h4>
  </div>

  <div fxFlex="100" *ngIf="dish" [@visibility]="visibility">
    <div>
      <h3>{{ dish.name | uppercase }}</h3>
      <hr />
    </div>
  </div>
  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{ dish.image }}" alt="{{ dish.name }}" />
        <mat-card-content>
          <p>{{ dish.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prevId]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', nextId]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
    <div class="container" fxLayout="column" fxLayoutGap="10px">
      <h1>Comments</h1>
      <mat-list fxFlex>
        <mat-list-item *ngFor="let dishcomment of dish.comments">
          <p matLine>{{ dishcomment.comment }}</p>
          <p matLine>{{ dishcomment.rating }} Stars</p>
          <p matLine>
            --{{ dishcomment.author }} {{ dishcomment.date | date }}
          </p>
        </mat-list-item>
      </mat-list>
    </div>
    <button mat-button *ngIf="!commentFormState" (click)="toggleCommentForm()">
      Give us a Comment
    </button>
    <div
      class="container"
      *ngIf="commentFormState"
      fxLayout="column"
      fxLayoutGap="10px"
    >
      <h4>Give us a Comment</h4>
      <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input
            matInput
            formControlName="author"
            type="text"
            placeholder="name"
          />
          <mat-error *ngIf="formErrors.author">{{
            formErrors.author
          }}</mat-error>
        </mat-form-field>
        <p>
          <mat-slider
            formControlName="rating"
            thumbLabel=""
            tickInterval="5"
            min="1"
            max="5"
          ></mat-slider>
        </p>
        <mat-form-field>
          <textarea
            matInput
            formControlName="comment"
            placeholder="comments here"
            rows="3"
          ></textarea>
          <mat-error *ngIf="formErrors.comment">{{
            formErrors.comment
          }}</mat-error>
        </mat-form-field>

        <button mat-button type="submit" [disabled]="commentForm.invalid">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
